.card--add_work_unit {
    .card-body {
        .row {
            .line {

                &--activity {
                    textarea {
                        border-color: transparent;
                        padding: 0;

                        &:focus,
                        &.active {
                            padding: 10px 15px;
                            background-color: #F7F7F7;
                            border-color: $border_head;
                        }
                    }
                }
            }
        }
    }
}