.card {
    &--general-infos,
    &--company-activity,
    &--responsible {
        .card-body {
            .row {
                .line {
                    .right {
                        .message-error {
                            display: none;
                        }

                        input,
                        textarea {
                            max-width: 480px;

                            &.form-control-small {
                                max-width: calc(480px / 2);
                            }
                        }

                        textarea {
                            min-height: 125px;
                            resize: vertical;
                        }
                    }
                }

                &--submit {
                    display: none;
                }
            }
        }

        &.card-editable {
            .card {

                &-header {
                    .btn-edit-card {
                        display: none;
                    }
                }

                &-body {
                    .row {
                        .line {
                            div {
                                &.right {
                                    .message-error {
                                        display: block;
                                    }
                                }
                            }

                            &.hidden {
                                display: flex;
                            }
                        }

                        &--submit {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &--general-infos,
    &--responsible {
        .card-body {
            .row {
                .line {
                    .left {
                        align-items: center;
                        &-cancel{
                            align-items: inherit;
                        }
                    }
                }
            }
        }
    }
}
