.card--users {
    border: none;

    .card {
        &-header,
        &-footer {
            padding: 20px 0;
            box-shadow: none;
            background-color: $white_grey;
        }

        &-body {
            border: 1px solid $grey;
        }
    }
}

table.table--users {
    tbody {
        tr {
            td {
                &.td {
                    &_actions {
                        i {
                            margin: 0 5px;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}