.card--add-risk {
    .card-body {
        .row {
            &--submit{
                display: flex;
                justify-content: center;
                flex-direction: row;
            }
            .line {
                .right{
                    display: flex;
                    justify-content: flex-start;

                    p{
                        i{
                            margin: 0;
                            font-size: inherit;
                        }
                    }
                    i{
                        margin-left: 20px;
                        font-size: 20px;
                    }

                    input,
                    textarea,
                    select {
                        max-width: 480px;

                        &.form-control-small {
                            max-width: calc(480px / 2);
                        }
                    }
                    ul{
                        li{
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                    li{
                        padding: 5px 0;
                    }
                    &--cancel{
                        display: block;
                        i{
                            font-size: 18px;
                            padding-bottom: 22px;
                            margin-right: 10px;
                            margin-left: 0;
                        }
                    }
                }
                &--activity {
                    textarea {
                        border-color: transparent;
                        padding: 10px;

                        &:focus,
                        &.active {
                            padding: 10px 15px;
                            background-color: #F7F7F7;
                            border-color: $border_head;
                        }
                    }
                }
            }
            &--radio{
                .left{
                    label{
                        margin-top: 0 !important;
                    }
                }
            }
        }
        .btn-delete{
            cursor: pointer;
        }
        hr{
            opacity: 0.4;
            margin: 40px 0;
        }

    }
}

.modal-add-risk{
    .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
        .line {
            display: flex;
            // justify-content: center;
            margin-bottom: 15px;
            div {
                &.left {
                    width: 20%;
                    margin-right: 20px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;

                    p {
                        font-family: 'Hind-Regular';
                        color: $dark_purple;
                    }

                    label {
                        margin-top: 10px;
                        color: $dark_purple;
                    }
                    h3{
                        text-align: right;
                    }
                }

                &.right {
                    width: 80%;
                    display: flex;
                    justify-content: flex-start;

                    p{
                        i{
                            margin: 0;
                            font-size: inherit;
                        }
                    }
                    i{
                        margin-left: 20px;
                        font-size: 20px;
                    }

                    input,
                    textarea {
                        max-width: 480px;
                        &.form-control-small {
                            max-width: calc(480px / 2);
                        }
                        &:disabled {
                            background-color: transparent;
                            border: 1px solid transparent;

                            &::placeholder {
                                color: transparent;
                            }
                        }
                    }
                }

                h3 {
                    margin: 0;
                    color: $dark_purple;
                    font-size: 16px;
                    font-family: 'Hind-Medium';
                }
            }
            &--activity {
                textarea {
                    border-color: transparent;
                    padding: 0;

                    &:focus,
                    &.active {
                        padding: 10px 15px;
                        background-color: #F7F7F7;
                        border-color: $border_head;
                    }
                }
            }
        }
        &--radio{
            .left{
                label{
                    margin-top: 0 !important;
                }
            }
        }
    }
}

.modal--risk-restraint-oza{
    .modal-body{
        max-height: 80vh;
        overflow: auto;
        .restraint-modal-content{
            display: none;
        }
        .row{
            margin-bottom: 10px;
            &--radio{
                .left{
                    label{
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
    .con {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        margin-right: 25px;
        padding-left: 25px;
        font-size: 16px;
    }

    .con input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }


    .checkmark {
        position: absolute;
        top: 6px;
        left: 0;
        height: 10px;
        width: 10px;
        background-color: #eee;
        border-radius: 50%;
    }

    .con input:checked~.checkmark {
        background-color: #2196F3;
    }


    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }


    .con input:checked~.checkmark:after {
        display: block;
    }

    .con .checkmark:after {
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px $dark solid;
        background: white;
    }
    .checkmark:hover{

    }
}
