.client {
    .card--add-client {
        .card-body {
            .row {
                &--submit {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                }

                .line {
                    .right {
                        &--btn {
                            button {
                                margin-right: 20px;
                            }
                        }

                        &--check {
                            li {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                            }

                            label {
                                padding-top: 4px;
                                padding-left: 10px;
                            }

                            input[type=checkbox] {
                                width: 1.3em;
                                height: 1.3em;
                                background-color: white;
                                border-radius: 50%;
                                vertical-align: middle;
                                border: 1px solid #ddd;
                                appearance: none;
                                -webkit-appearance: none;
                                outline: none;
                                cursor: pointer;

                                &:checked {
                                    background-color: $yellow;
                                    border: 1px solid white;
                                }
                            }
                        }

                        p {
                            i {
                                margin: 0;
                                font-size: inherit;
                            }
                        }

                        i {
                            margin-left: 20px;
                            font-size: 20px;
                        }

                        .form-control {
                            max-width: 480px;
                        }

                        textarea {
                            min-height: 125px;
                            resize: vertical;
                        }

                        li {
                            padding: 5px 0;
                        }
                    }

                    &--activity {
                        textarea {
                            border-color: transparent;
                            padding: 0;

                            &:focus,
                            &.active {
                                padding: 10px 15px;
                                background-color: #F7F7F7;
                                border-color: $border_head;
                            }
                        }
                    }
                }
            }
        }
    }
}
