.pdf-oza{
    box-sizing: border-box;
    .first-page{
        background-color: $grey;
        height: 100vh;
        .nav-bar{
            background-color: $white;
            padding: 10px 10px;
        }
        .card{
            position: relative;
            margin: 3% 5%;
            padding: 20px 0;
            height: auto;
            text-align: center;
            p:first-child{
                font-size: 20px;
            }
            h1{
                margin-bottom: 50px;
            }
            img{
                margin: 40px 0;
            }
            p:last-child{
                margin-top: 50px;
            }
        }
    }
}
