.card.card--create-users {
    .card-body {
        .row {
            .line {
                .right {
                    input,
                    textarea,
                    select {
                        max-width: 500px;
                    }

                    textarea {
                        min-height: 125px;
                        resize: vertical;
                    }
                }
            }
        }
    }
}
