.card.card--create-users {
    .card-body {
        .row {
            .line {
                .right {
                    input,
                    textarea,
                    select {
                        max-width: 500px;
                    }

                    textarea {
                        min-height: 125px;
                        resize: vertical;
                    }
                    .align{
                        i{
                            font-size: 22px;
                            padding-top: 10px;
                            padding-left: 10px;
                            position: absolute;
                            color: $dark;
                        }
                    }
                }
            }
        }
    }
}
