/*
    Import file from utils here
*/
//Variables
@import "utils/variables";
//Fonts
@import "utils/fonts";
//Card
@import "utils/card.scss";

html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-color: $white_grey;
    height: 100%;
}
a{
    text-decoration: none;
}

h1{
 font-size: 30px;
    font-family: Hind-SemiBold;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5{

}
h6{

}


/*
    Import file from app here
*/
//Header
@import "app/global/header";
//NavBar
@import "app/sidebar/sidebar";
//Dashboard
@import "app/dashboard/dashboard";



