.container-table-risk-explosion{
    overflow-x: scroll;
    table.table--risk-explosion{
        tbody{
            td{
                ul{
                    li{
                        hyphens: auto;
                    }
                }
            }
        }
    }
}
.input_danger{
    color: $danger;
    border-color: $danger;
}

