.card--work_units {
    border: none;

    .card {
        &-header {
            padding: 20px 0;
            box-shadow: none;
            background-color: $white_grey;
        }

        &-body {
            border: 1px solid $grey;
        }
    }

    &.card--resized {
        .card {
            &-header {
                .btn-resize-all {
                    i {
                        &::before {
                            content: '\f0fe';
                        }
                    }
                }
            }
        }
    }
}

table.table--work_units {
    thead tr th {
        &.th {
            &_status {
                border: none;
                padding-right: 20px;
            }

            &_number_employee {
                padding-left: 0;
            }

            &_gear_apparatus {
                padding-right: 0;
            }

            &_actions {
                border: none;
                padding-left: 20px;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 20px 10px;

                &.td {
                    &_status {
                        position: relative;
                        border: none;
                        padding-right: 20px;

                        .btn-resize-row {
                            position: absolute;
                            top: -10px;
                            padding: 0;
                        }

                        i {
                            font-size: 18px;

                            &.fa-check {
                                color: $danger;

                                &-checked {
                                    color: $success;
                                }
                            }
                        }
                    }

                    &_number_employee {
                        padding-left: 0;
                    }

                    &_activity {
                        p {
                            margin: 0;
                            font-size: 13px;
                        }
                    }

                    &_gear_apparatus {
                        padding-right: 0;
                    }

                    &_actions {
                        border: none;
                        padding-left: 20px;

                        i {
                            margin-bottom: 20px;
                        }
                    }
                }

                .table-resizable {
                    overflow: hidden;
                }
            }

            &.tr_resized {
                .btn-resize-row {
                    i {
                        &::before {
                            content: '\f0fe';
                        }
                    }
                }
            }

            &:last-of-type {
                td {
                    padding-bottom: 45px;
                }
            }
        }
    }

    tfoot {
        tr {
            td {
                padding-top: 35px;
                border-top: 1px solid rgba(0, 0, 0, 0.2);

                &:first-of-type {
                    border: none;
                }

                &:last-of-type {
                    border: none;
                }

                &.content {
                    padding-left: 0;
                    padding-right: 0;

                    &>div {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        &>div {
                            .title {}

                            &>div {
                                display: flex;

                                .btn {
                                    margin-right: 10px;
                                }

                                p {
                                    color: $dark_purple;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
