
.card{
    &--risk-chemical{
        .row{
            .section-client{
                border-left: 10px solid $success;
                padding: 0 15px;
            }
            .section-admin{
                border-left: 10px solid $danger;
                padding: 0 15px;
            }
            .value{
                display: block;
                width: 10%;
            }
            .cat-danger{
                margin: 0 8%;
                display: flex;
                justify-content: space-between;
                flex: 1;
                .item{
                    margin: 0 5px;
                    label{
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                    select{
                        padding: 10px 5px;
                    }
                }
            }
            .nd{
                margin: 0 10%;
                input{
                    margin: 0 10px;
                    width: 10%;
                }
            }
        }
        .list-items{
            margin: 0 10%;
            a{
                color: $info;
                margin-right: 10px;
                cursor: pointer;
            }
            hr{
                opacity: 0.5;
            }
            .right--float{
                display: flex;
                justify-content: flex-end;
            }
            .right--inline{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                label, button{
                    padding-top: 10px;
                }
                div{
                    margin-left: 30px;
                    margin-right: 30px;
                    input{
                        width: 480px;
                    }
                    .info-input{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }

            }

            .modal-footer{
                display: flex;
                justify-content: flex-end;
            }
            .row--center{
                display: flex;
                justify-content: center;
            }

            #modal-list {
                div {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    .contain {
                        margin-right: 70px;
                    }
                }
            }
        }
        .restraint-proposed{
            overflow-y: scroll;
            max-height: 200px;
        }
    }
}
