
@font-face {
    font-family: "Hind-Medium";
    src: url("/font/Hind/Hind-Medium.ttf");
}

@font-face {
    font-family: "Hind-SemiBold";
    src: url("/font/Hind/Hind-SemiBold.ttf");
}

@font-face {
    font-family: "Hind-Regular";
    src: url("/font/Hind/Hind-Regular.ttf");
}
