* {
    box-sizing: border-box;
    font-family: 'Hind-Medium';
}

html {
    // height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: $white_grey;
    overflow-y: auto;
}

h1 {
    font-size: 30px;
    font-family: 'Hind-SemiBold';
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {}

h6 {}

p {
    font-family: 'Hind-Medium';
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.eye-password{
    margin-left: -35px !important;
    z-index: 9999 !important;
    font-size: 16px !important;
}

