$white: #FFFFFF;
$white_grey: #F4F4F4;
$dark: #747474;
$black: #212529;
$grey: #D5D5D5;
$grey_light: #868D96;

$dark_purple: #413945;
$purple_light: #58515C;
$yellow: #FAB418;
$red: #C55D6B;
$red_dark: #B32A3C;
$blue: #2680EB;
$green: #43A389;
$orange: #F8912A;

$border_head: #E0E3DA;
$in-valid-check: #868D96;

$success: #43A389;
$warning: #F9CA62;
$danger: #B32A3C;
$info: #109BF8;

$width_sidebar: 250px;
