.main{
    display: flex;
    flex-flow: column;
    height: 100%;
    .body{
        flex-grow: 1;
        .content{
            padding: 0 30px;
            .header{
                h1{
                    padding: 10px 0 10px 20px;
                    border-left: 10px $yellow solid;
                }
            }
        }
    }
}
