.dashboard {

    .row-title {
        width: 100%;
        text-align: center;
        margin: 100px 0;
    }
    .card{
        margin-bottom: 0;
    }
    .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
    }
    .card--full{
        margin-top: 30px;
        grid-column: 3;
        grid-row: 3;
    }
    .card--dash {
        &:nth-child(4){
            grid-row: 2;
        }
        grid-row: 1;
        &-double{
            grid-column: 2 / 4;
            grid-row: 2;
            .card-body {
                .chart-container {
                    position: relative;
                    height: 350px;
                    width: 400px;
                    margin: auto;
                    canvas{
                        margin-top: -50px;
                    }
                }
            }
        }
        .card-body {
            .row {
                display: block;
                label{
                    font-size: 40px;
                }
                &--submit {
                    button:first-child {
                        margin-right: 25px;
                    }
                }

                &--center {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .dash {
        .row{
            grid-template-columns: repeat(2, 1fr);
        }
        .card--dash {
            &:nth-child(3){
                grid-row: 2;
            }
            &:nth-child(4){
                grid-row: 2;
            }
            &-double {
                grid-column: 1/-1;
                grid-row: 3;
                .card-body {
                    .chart-container {
                        canvas {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}
