.main{
    display: flex;
    flex-flow: column;
    height: 100%;
    .body{
        margin-top: 80px;
        flex-grow: 1;
        .content{
            padding: 0 30px;
            .header{
                z-index: 0;
                position: relative;
                h1{
                    padding: 10px 0 10px 20px;
                    border-left: 10px $yellow solid;
                }
                .header-icon{
                    i{
                        color: $dark;
                        font-size: 35px;
                    }
                }
            }
        }
    }
}
@import "user";
@import "create";
@import "work";
@import "dashboard";
