.btn-main{
    background-color: $yellow;
    color: $white;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-family: Hind-Medium;
    &:focus{
        outline: none;
    }
    &--green{
        background-color: $green;
        height: 30px;
        &:disabled{
            background-color: $grey;
        }
    }
    &--red{
        background-color: $red;
        height: 30px;
        &:disabled{
            background-color: $grey;
        }
    }
    &--red-text{
        background-color: transparent;
        color: $red;
        height: 30px;
        &:disabled{
            background-color: transparent;
            color: $grey;
        }
    }
    &--yellow{
        background-color: $yellow;
        height: 30px;
        color: white;
        &:disabled{
            background-color: $grey;
        }
    }
    &--number{
        background-color: transparent;
        color: $dark;
        font-size: 30px;
        &:first-child{
            padding-left: 0;
        }
    }
    &--text{
        background-color: transparent;
        color: $yellow !important;
        padding: 0;
    }
    &--fake{
        cursor: inherit;
    }
    &--cancel{
        background-color: transparent;
        color: $red_dark;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color: $red_dark;
        }
    }
    &--back{
        padding: 0;
        margin-bottom: 10px;
        background-color: transparent;
        text-decoration: none;
        color: $dark;
        font-size: 18px;
        font-family: Hind-Medium;
        transition: 0.5s;
        i{
            font-size: 18px;
        }
        &:hover{
            color: $yellow;
            transition: 0.5s;
        }
    }
    &--inv{
        background-color: transparent;
        color: $dark;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: Hind-Medium;
        &:focus{
            outline: none;
        }
        i{
            margin-left: 15px;
        }
    }
}
