.card{
    background-color: $white;
    border: 1px rgba(0,0,0,.125) solid;
    height: 100%;

    .card-header{
        background-color: $white;
        padding: 10px 40px;
        border-bottom: 1px rgba(0,0,0,.125) solid;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            color: $yellow;
            font-family: Hind-Medium;
            padding: 10px 0;
            margin: 0;
        }
    }
    .card-body{
        padding: 20px 40px;
        label{
            padding: 7px 0 7px 10px;
            margin: 0;
        }
        .card-body-title{
            label{
                padding: 35px 10px;
            }
        }
        a{
            cursor: pointer;
            color: $red;
        }
        input[disabled]{
            border: none;
            background-color: transparent;
            padding-left: 0;
        }
        select[disabled]{
            border: none;
            background-color: transparent;
            padding-left: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        textarea[disabled]{
            border: none;
            background-color: transparent;
            padding-left: 0;
            resize: none;
        }
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    .card-foot{
        .work-unit{
            border-top: 1px solid #dee2e6;
            margin: 0 95px 0 25px;
            .col-12{
                padding: 0;
            }
            p{
                padding-top: 10px;
                span{
                    background-color: $dark_purple;
                    border-radius: 10px;
                    color: $white;
                    padding: 5px 10px;
                    margin-right: 10px;
                }
            }
        }
    }

}
