.check-modal{
    h6{
        color: $green;
    }
    .contain {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 25px;
        margin: 0;
        width: 250px;
        & input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .check {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 100%;
            background-color: transparent;
            padding: 3px;
            &:after{
                content: "";
                position: absolute;
                display: none;
            }
            &:after {
                right: 10px;
                top: 8px;
                width: 5px;
                height: 10px;
                border: solid $dark;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                }
        }
        &:hover input ~ .check{
            background-color: $white_grey;
        }
        & input:checked ~ .check{
            background-color: $white_grey;
        }
        & input:checked ~ .check:after {
            display: block;
        }
    }
}




