$width_sidebar: 250px;

nav.nav {
    width: 100%;
    height: 75px;
    background-color: $white;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .16);
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>div {
        display: flex;
        flex-direction: row;

        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid $border_head;
            padding: 10px 25px;

            &.nav-link {
                flex-direction: column;

                i {
                    font-size: 28px;
                    color: $yellow;
                }

                p {
                    margin: 0;
                    margin-top: 3px;
                    font-family: 'Hind-Regular';
                    font-size: 12px;
                    line-height: 1;
                }

                &:last-of-type {
                    background-color: $dark_purple;

                    i {
                        color: white;
                    }
                }
            }

            a {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

main {
    position: relative;
    padding-top: 75px;
    min-height: 100vh;

    .sidebar {
        width: $width_sidebar;
        height: 100%;
        position: fixed;
        background-color: $dark_purple;
        overflow-y: auto;

        .nav-sidebar {
            margin-top: 50px;
            list-style: none;
            padding: 0;

            .sidebar-nav-link {
                font-family: 'Hind-Regular';
                color: $white;
                text-decoration: none;
                font-size: 17px;
                margin: 0;
                cursor: pointer;

                i {
                    font-size: 20px;
                    margin-right: 15px;
                }
            }

            &>.sidebar-nav-item {
                padding: 20px 15px;
                border-bottom: 1px solid $purple_light;

                &.active {
                    &>.sidebar-nav-link>span {
                        color: $yellow;
                    }

                    &>.sub-group-menu {
                        display: block !important;

                        .sidebar-nav-item.active {
                            .sidebar-nav-link {
                                color: $yellow;
                            }
                        }
                    }
                }

                &>.sub-group-menu {
                    list-style: none;
                    padding-left: 30px;
                    padding-top: 10px;
                    display: none;

                    &>.sidebar-nav-item {
                        padding: 5px 0;
                        display: flex;
                        justify-content: space-between;

                        .sidebar-nav-link i {
                            margin-right: 10px;
                        }

                        &>i.fa-check {
                            font-size: 12px;
                            color: $in-valid-check;

                            &.checked {
                                color: $success;
                            }
                        }
                    }
                }
            }
        }
    }

    .container {
        height: 100%;
        margin-left: $width_sidebar;
        background-color: $white_grey;
        padding: 35px 20px;

        .header {
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .btn-back {
                display: block;
                color: $dark;
                text-decoration: none;
                margin-bottom: 20px;
                font-family: 'Hind-Medium';
                font-size: 18px;

                i {
                    margin-right: 15px;
                }
            }
            
            h1 {
                border-left: 10px solid $yellow;
                padding: 0 15px;
                margin: 0;
            }

            .infos,
            .dangers {
                margin-top: 20px;
                margin-left: 30px;
                display: flex;

                p {
                    margin: 0;
                }
            }

            .infos {
                color: $dark;

                i {
                    margin-right: 15px;
                    font-size: 28px;
                }

                p {
                    font-family: 'Hind-Regular';
                }
            }

            .dangers {
                p {
                    font-family: 'Hind-SemiBold';
                    font-size: 22px;

                    &:first-of-type {
                        margin-right: 20px;
                        white-space: nowrap;
                    }
                }
            }
        }

        .body {

            &>*:last-child {
                margin-bottom: 0;
            }

        }

        .footer {

        }
    }
}




.card {
    background-color: white;
    border: 1px solid $grey;
    margin-bottom: 30px;

    // &:last-of-type {
    //     margin-bottom: 0;
    // }

    &-header {
        padding: 20px 35px;
        -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .1);
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .1);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            margin: 0;
            font-family: 'Hind-Medium';
            font-size: 22px;
            color: $yellow;

            span {
                color: $dark_purple;
            }
        }
    }

    &-body {
        padding: 20px 35px;

        .row {
            display: flex;
            flex-direction: column;
            margin-top: 35px;

            &:first-of-type {
                margin-top: 0;
            }

            .line {
                display: flex;
                margin-bottom: 15px;
    
                div {
                    &.left {
                        width: 30%;
                        margin-right: 20px;
                        display: flex;
                        justify-content: flex-end;
                        padding: 5px 0;
                        align-items: flex-start;
    
                        label {
                            color: $dark_purple;
                        }
                    }
    
                    &.right {
                        width: 70%;
    
                        input,
                        textarea {
                            border: 1px solid $border_head;

                            &::placeholder {
                                color: $dark;
                            }

                            &:disabled {
                                background-color: transparent;
                                border: 1px solid transparent;

                                &::placeholder {
                                    color: transparent;
                                }
                            }
                        }

                        textarea {
                            min-height: 125px;
                            resize: vertical;
                        }

                        h3 {
                            margin: 0;
                            color: $dark_purple;
                            font-size: 16px;
                            font-family: 'Hind-Medium';
                        }

                        .message-error {
                            color: $danger;
                            margin: 0;
                            margin-top: 5px;
                            font-size: 12px;
                            font-family: 'Hind-Regular';
                        }
                    }
                }

                &.hidden {
                    display: none;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 35px;
    }

    &--users {
        border: none;

        .card {
            &-header,
            &-footer {
                padding: 20px 0;
                box-shadow: none;
                background-color: $white_grey;
            }

            &-body {
                border: 1px solid $grey;
            }
        }
    }

    &--table-works {
        border: none;

        .card {
            &-header {
                padding: 20px 0;
                box-shadow: none;
                background-color: $white_grey;
            }

            &-body {
                border: 1px solid $grey;
            }
        }
    }

    &--reflection {
        .row {
            .line {
                .left {
                    width: 40% !important;
                    justify-content: flex-start !important;
                    flex-direction: row;

                    &>i {
                        font-size: 30px;
                        margin-right: 20px;
                        color: $dark;
                    }

                    &>div {
                        display: flex;
                        flex-direction: column;

                        p {
                            margin: 0;
                            font-family: 'Hind-Regular';
                            color: $dark;
                        }

                        ul {
                            list-style: none;
                            padding: 0;

                            li {
                                font-family: 'Hind-Regular';
                                font-size: 14px;
                                color: $dark;
                            }
                        }
                    }
                }

                .right {
                    width: 60% !important;

                    .btn {
                        padding-left: 0;
                    }
                }
            }
        }

        .card-footer {
            p {
                margin: 0;
                color: $dark;
            }

            .btn {
                margin-left: 15px;
            }
        }
    }

    &--general-infos,
    &--company-activity,
    &--responsible {
        .card-body {
            .row {
                .line {
                    .right {
                        .message-error {
                            display: none;
                        }

                        input,
                        textarea {
                            max-width: 480px;

                            &.form-control-small {
                                max-width: calc(480px / 2);
                            }
                        }
                    }
                }

                &--submit {
                    display: none;

                    .btn:first-of-type {
                        margin-right: 25px;
                    }
                }
            }
        }

        &.card-editable {
            .card {
    
                &-header {
                    .btn-edit-card {
                        display: none;
                    }
                }
    
                &-body {
                    .row {
                        .line {
                            div {
                                &.right {
                                    .message-error {
                                        display: block;
                                    }
                                }
                            }
    
                            &.hidden {
                                display: flex;
                            }
                        }
    
                        &--submit {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &--risk {
        .card-header {
            .title {
                position: relative;

                &::before {
                    display: none;
                    content: '\f054';
                    font-family: "Font Awesome 5 Free";
                    color: $dark_purple;
                    position: absolute;
                    left: -17px;
                    top: 7px;
                    font-size: 16px;
                    transition: transform ease .3s;
                }
            }

            .message-alert {
                color: $danger;
                font-size: 16px;
                margin: 0;
            }

            form.form-risk-checked {
                display: flex;

                p {
                    margin: 0;
                    color: $dark;
                }
    
                .btn {
                    margin-left: 15px;
                }
            }
        }

        .card-body {
            display: none;
        }

        &-stretchable {
            .card-header {
                .title {
                    cursor: pointer;

                    &::before {
                        display: block;
                    }
                }
            }
        }

        &-opened {
            .card-header {
                .title {
                    &::before {
                        transform: rotate(90deg);
                    }
                }
            }

            .card-body {
                display: flex;
            }
        }
    }

    &--validate-risk {
        border: 0;
        background-color: transparent;

        .card-body {
            display: flex;
            justify-content: center;
        }
    }
}



.btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Hind-Medium';
    border-radius: 15px;
    padding: 5px 25px;
    color: $dark_purple;

    i {
        font-size: 14px;
        margin-right: 5px;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &-yellow {
        background-color: $yellow;
        color: $white;

        &.btn-inv {
            border-color: $yellow;
        }

        &.btn-text {
            color: $yellow;
        }
    }

    &-success {
        background-color: $success;
        color: $white;

        &.btn-inv {
            border-color: $success;
        }

        &.btn-text {
            color: $success;
        }
    }

    &-danger {
        background-color: $danger;
        color: $white;

        &.btn-inv {
            border-color: $danger;
        }

        &.btn-text {
            color: $danger;
        }
    }

    &-inv {
        background-color: transparent;
        border: 1px solid $dark_purple;
        color: $dark_purple;
    }

    &-text {
        background-color: transparent;
        color: $dark_purple;
        padding-left: 0;
        padding-right: 0;
    }

    &-small {
        padding: 2px 15px;
    }

    &-radio {
        background-color: #C3C3C3;
        padding: 3px 15px;
        text-transform: uppercase;
        color: $white;
        font-family: 'Hind-SemiBold';

        &--checked {
            background-color: $dark_purple;
        }
    }

    &-edit-card {
        font-family: 'Hind-Regular';
        font-size: 16px;
        color: $dark_purple;
        padding: 0;

        i {
            font-size: 20px;
            margin: 0;
            margin-left: 10px;
        }
    }
}

.btn-group-dropdown {
    position: relative;

    .btn.toggle-dropdown {
        font-family: 'Hind-Regular';
        text-transform: uppercase;
        color: $dark_purple;
        font-size: 16px;

        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: '\f078';
            margin-left: 10px;
            color: $yellow;
            font-size: 19px;
        }
    }

    .dropdown-menu {
        display: none;
        background-color: $white;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        padding: 10px 0;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;

        &-right {
            left: auto;
            right: 0;
        }

        .dropdown-item {
            display: block;
            width: 100%;
            padding: 5px 25px;
            font-size: 14px;
            color: $dark;

            &:hover {
                background-color: rgba(0,0,0,.05);
            }
        }
    }

    &.open {
        .dropdown-menu {
            display: block;
        }
    }
}

.form-control {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $border_head;
    border-radius: 4px;
    color: $dark_purple;
    font-family: 'Hind-Regular';

    &.invalid {
        color: $danger;
    }

    &::placeholder {
        color: $dark;
    }
}

table.table {
    width: 100%;
    border-collapse: collapse;

    &.table-sortable {
        thead {
            th {
                
                &.th-sort {
                    cursor: pointer;
                }

                &.th-sort-asc {
                    &::after {
                        font-family: "Font Awesome 5 Free";
                        content: "\f077";
                        font-size: 14px;
                        margin-left: 5px;
                    }
                }

                &.th-sort-desc {
                    &::after {
                        font-family: "Font Awesome 5 Free";
                        content: "\f078";
                        font-size: 14px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    thead {
        th {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            text-align: start;
            padding: 10px 20px 10px 0;
            color: $dark_purple;
        }
    }

    tbody {
        tr {
            td {
                border-bottom: 1px solid rgba(0,0,0,0.2);
                vertical-align: top;
                font-size: 14px;
                padding: 15px 20px 15px 0;
                color: #576271;

                &:last-of-type {
                    i {
                        color: $yellow;
                        font-size: 18px;
                        margin: 0 5px;
                        float: right;
                    }
                }
            }
        }
    }

    tfoot {
        tr {
            td {
                padding: 15px 20px 15px 0;
            }
        }
    }

    &--users {
        thead {
            tr {
                th:last-child {
                    padding-right: 0;
                }
            }
        }
        tbody {
            tr {
                td:last-child {
                    padding-right: 0;
                }

                &:last-of-type {
                    border: none;
                }
            }
        }
    }

    &--risks {
        tbody tr td,
        thead tr th {

            &:last-of-type {
                border: none;
            }
        }
    }
}