.card--users {
    border: none;

    .row--right {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin: 50px 0 !important;

        input {
            width: 300px;
            margin-right: 30px;
        }

        select {
            width: 200px;
        }
    }

    .card {

        &-header,
        &-footer {
            padding: 20px 0;
            box-shadow: none;
            background-color: $white_grey;
        }

        &-body {
            border: 1px solid $grey;
        }
    }
}

table.table--users {
    tbody {
        tr {
            td {
                &.td {
                    &_actions {
                        i {
                            margin: 0 5px;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
